extend layout

block head
  script(src="/js/main.js", type="text/javascript")

block content
  .todos
  form.create-todo
    input(type="text",name="title",class="title",placeholder="What to do?")
    textarea(name="task",class="task",placeholder="How to do it?",rows="5", cols="20")
    button(name="create",class="create") Create the task!