doctype 5
html(lang="en")
  head
    title To-Do Mania
    link(href="/stylesheets/app.css", rel="stylesheet")
    script(data-main="js/main", src="/js/vendor/require/require.js")
    block head
  body
    header
      h1 Todo manager
    .app
      block content