nav
  a.add(role="button", name="add", href="#!/todos/new") New
  button.priority(type="button", name="priority",href="#/todos/") Important
  button.deadline(type="button", name="priority") Urgent
article.list